@model XKANBAN.DTOs.Projects.AddCartViewModel
@{
    ViewData["Title"] = "Новая задача";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <form asp-controller="Project" asp-action="AddCart" method="post">
        <input type="hidden" asp-for="ProjectId" value="@ViewBag.ProjectId">

        <div class="form-group">
            <label for="nameInput">Имя</label>
            <input type="text" class="form-control" id="nameInput" asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Создать</button>
    </form>
</div>